/*************** MOBILE STYLES ***************************************/
/*********************************************************************/

@media screen and ( min-width: 320px ) and ( max-width: 767px ) {

/****************** MOBILE MAIN PAGE ***********************/

.wrapper {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	/*height: 100%;*/
	/*background-color: #A1AB00;*/
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #A0AB00),
	color-stop(0.47, #889200)
);
background-image: -o-linear-gradient(bottom, #A0AB00 0%, #889200 47%);
background-image: -moz-linear-gradient(bottom, #A0AB00 0%, #889200 47%);
background-image: -webkit-linear-gradient(bottom, #A0AB00 0%, #889200 47%);
background-image: -ms-linear-gradient(bottom, #A0AB00 0%, #889200 47%);
background-image: linear-gradient(to bottom, #A0AB00 0%, #889200 47%);
}

.cell-info {
	background-color: black;
	width: 100%;
	height: 10px;
}

.main-header {
	width: 100%:   
	margin: 0 auto;
	border-bottom: 2px solid black;
	border-top-left-radius: 25px 25px;
	border-top-right-radius: 25px 25px;
}

.main-header h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	padding: 5px 0px 5px 0px;
	font-weight: bold;
	font-size: 18px;
}

.main-header h1 a {
	text-decoration: none;
	color: white;
}

.container {
	width: 300px;
	background-color: #DFDBC2;
	border-radius: 5px;
	box-shadow: 2px 2px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container-header {
	width: 98.5%;
	overflow: hidden;
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid black;
	/*background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));*/
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
	/*background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);*/
	/*padding: 4.5px 9px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

.container-header .header-image img {
	width: 8.5%;
	float: left;
	margin-right: 60px;
	border: 1px solid black;
}

.container .container-header .header-name-birth {
	float: left;
}

.container .container-header .header-name-birth li {
	text-align: center;
	text-decoration: none;
	margin-bottom: 2px;
	font-size: 14px;
	font-family: sans-serif;
	color: black;
}

.container .container-body {
	width: 97%;
	padding: 10px 0px 10px 10px;
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
}

.container .container-body .little-widget {
	overflow: hidden;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: white;
	width: 92%;
}

.container .container-body .little-widget .icon,
.container .container-body .little-widget .info {
	float: left;
}

.container .container-body .little-widget .icon h1 {
	width: 85%;
	font-size: 46px;
	padding: 2px;
	font-family: sans-serif;
	border-right: 1px solid black;
}

.container .container-body .little-widget .info ul {
	padding: 5px;
}

.container .container-body .little-widget .info ul li {
	text-decoration: none;
	font-size: 11px;
	text-align: center;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	font-family: sans-serif;
}

.container .container-footer {
	width: 100%;
}

.container .container-footer .footer-tabs {
	overflow: hidden;
	border-top: 1px solid black;
	/*background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));*/
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
	/*background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);*/
	/*padding: 4.5px 9px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

.container .container-footer .footer-tabs li {
	float: left;
	width: 29%;
	text-align: center;
	padding: 5px;
	font-family: sans-serif;
}

.container .container-footer .footer-tabs li a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}

.container .container-footer .footer-tabs .family,
.container .container-footer .footer-tabs .media {
	border-right: 1px solid black;
}

.nav {
	width: 100%;
	margin: 0 auto;
	border: 2px solid black;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.14, #7F7F7F),
	color-stop(0.79, #A6A6A6)
);
background-image: -o-linear-gradient(bottom, #7F7F7F 14%, #A6A6A6 79%);
background-image: -moz-linear-gradient(bottom, #7F7F7F 14%, #A6A6A6 79%);
background-image: -webkit-linear-gradient(bottom, #7F7F7F 14%, #A6A6A6 79%);
background-image: -ms-linear-gradient(bottom, #7F7F7F 14%, #A6A6A6 79%);
background-image: linear-gradient(to bottom, #7F7F7F 14%, #A6A6A6 79%);
	position: fixed;
	bottom: 0px;
}

.nav img {
	width: 25px;
	height: 25px;
	padding: 5px;
	margin: 0px 60px 0px 60px;
}

.nav .search,
.nav .search2 {
	display: none;
}

.add-nav {
	width: 100%;
	height: 50px;
}

/******************** MOBILE FAMILY PAGE ********************/

.interior-nav {
	width: 100%;
	background-color: #DFDBC2;
	border-bottom: 2px solid black;
}

.interior-nav ul {
	overflow: hidden;
	padding: 5px;
}

.interior-nav ul li {
	float: left;
	font-family: sans-serif;
	width: 20%;
	margin-left: 11%;
}

.interior-nav ul li a {
	text-decoration: none;
	color: black;
}

.interior-holder {
	width: 100%;
	margin: 0 auto;
	background-color: #D0D0D0;
}

.interior-holder .interior-header p {
	padding: 5px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

.interior-holder .interior-content-container {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	background-color: white;
}

.interior-holder .interior-content-container.siblings {
	margin-bottom: 0px;
	border-bottom: none;
}

.interior-holder .interior-content-container .interior-content {
	overflow: hidden;
	border-top: 1px solid black;
}

.interior-holder .interior-content-container .interior-content .interior-image,
.interior-holder .interior-content .interior-name-date {
	float: left;
}

.interior-holder .interior-content-container .interior-content img.interior-image {
	width: 15%;
	border-right: 1px solid black;
}

.interior-holder .interior-content-container .interior-content .interior-name-date ul {
	padding: 10px;
	font-family: sans-serif;
	color: black;
}

.interior-holder .interior-content-container .interior-content .interior-name-date ul li.name {
	font-size: 14px;
	margin-bottom: 2px;
	color: black;
}

.interior-holder .interior-content-container .interior-content .interior-name-date ul li.date {
	font-size: 10px;
	color: black;
}

/*.current {

}*/

/***************** MOBILE RECORDS PAGE ********************/

p a.btn {
	display: inline-block;
	border: 4px solid #d8d8d8;
	color: white;
	text-decoration: none;
	padding: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

/****************** MOBILE PROFILE PAGE *********************/

.interior-holder {
	width: 100%;
	background-color: #D0D0D0;
}

.interior-holder .profile-header {

}

.interior-holder .profile-content-container {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	background-color: gray;
}

.interior-holder .profile-content-container.siblings {
	margin-bottom: 0px;
	border-bottom: none;
}

.interior-holder .profile-content-container .profile-content {
	overflow: hidden;
	border-top: 1px solid black;
}

.interior-holder .profile-content-container .profile-content .profile-image,
.interior-holder .profile-content .profile-name-date {
	float: left;
}

.interior-holder .profile-content-container .profile-content img.profile-image {
	width: 30%;
	border-right: 1px solid black;
}

.interior-holder .profile-content-container .profile-content .profile-name-date ul {
	padding: 10px;
	font-family: sans-serif;
	color: white;
}

.interior-holder .profile-content-container .profile-content .profile-name-date ul li.name {
	font-size: 16px;
	margin-bottom: 2px;
}

.interior-holder .profile-content-container .profile-content .profile-name-date ul li.date {
	font-size: 16px;
}

/*************** MOBILE MEDIA PAGE ****************************/

.map {
	border: 2px solid #dfdbc2;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
}

.map h2 {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
	background-color: #f3f3ef;
}

iframe {
	width: 100%;
}

small a img {
	width: 6%;
	margin-bottom: 40px;
}

} /* @media close

/************************* TABLET STYLES ***************************/
/*******************************************************************/

@media screen and ( min-width: 768px ) and ( max-width: 1240px) {

.wrapper {
width: 100%;
margin: 0 auto;
background-color: #A1AB00;
position: absolute;
height: 500%;

}

.container-wrapper {
	overflow: hidden;
	margin: 0 auto;
	border-radius: 25px;
	background-color: #899200;
	padding-bottom: 10px;
	width: 700px;
	margin-top: 10px;
	/*position: absolute;
	height: 100%;*/
}

.main-header {
	width: 700px;
	padding-top: 10px;
	margin: auto;
}

.main-header h1 {
	font-size: 24px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	padding: 5px 0px 5px 50px;
	font-weight: bold;
}

.main-header h1 a {
	text-decoration: none;
	color: white;
}

.container {
	width: 49%;
	background-color: #DFDBC2;
	margin: 20px 10px 0px 20px;
	border-radius: 5px;
	box-shadow: 2px 2px;
	float: left;
	/*position: relative;*/
}

.container.one {
	width: 316px;
	background-color: #DFDBC2;
	margin: 20px 10px 0px 20px;
	border-radius: 5px;
	box-shadow: 2px 2px;
	float: left;
	/*position: relative;*/
}

.container.two {
	width: 316px;
	background-color: #DFDBC2;
	margin: 20px 20px 0px 10px;
	border-radius: 5px;
	box-shadow: 2px 2px;
	float: right;
	/*position: relative;*/
}

.container-header {
	width: 98.5%;
	overflow: hidden;
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid black;
	/*background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));*/
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
	/*background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);*/
	/*padding: 4.5px 9px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

.container-header:hover {
	background-color: #c8c5ae;
}

.container-header .header-image img {
	width: 8.5%;
	float: left;
	margin-right: 60px;
	border: 1px solid black;
}

.container .container-header .header-name-birth {
	float: left;
}

.container .container-header .header-name-birth li {
	text-align: center;
	text-decoration: none;
	margin-bottom: 2px;
	font-size: 14px;
	font-family: sans-serif;
	color: black;
}

.container .container-body {
	width: 97%;
	padding: 10px 0px 10px 10px;
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
}

.container .container-body .little-widget {
	overflow: hidden;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: white;
	width: 92%;
}

.container .container-body .little-widget .icon,
.container .container-body .little-widget .info {
	float: left;
}

.container .container-body .little-widget .icon h1 {
	width: 85%;
	font-size: 46px;
	padding: 2px;
	font-family: sans-serif;
	border-right: 1px solid black;
}

.container .container-body .little-widget .info ul {
	padding: 5px;
}

.container .container-body .little-widget .info ul li {
	text-decoration: none;
	font-size: 11px;
	text-align: center;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	font-family: sans-serif;
}

.container .container-footer {
	width: 100%;
}

.container .container-footer .footer-tabs {
	overflow: hidden;
	border-top: 1px solid black;
	/*background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));*/
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
	/*background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);*/
	/*padding: 4.5px 9px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

.container .container-footer .footer-tabs li {
	float: left;
	width: 29%;
	text-align: center;
	padding: 5px;
	font-family: sans-serif;
}

.container .container-footer .footer-tabs li a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}

.container .container-footer .footer-tabs .family,
.container .container-footer .footer-tabs .media {
	border-right: 1px solid black;
}

.float-container {
	overflow: hidden;
}

.nav {
	width: 400px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	/*background-color: gray;*/
	position: absolute;
	top: 7px;
	right: -100px;
}

.nav img {
	width: 25px;
	height: 25px;
	padding: 5px;
	margin: 0px 5px 0px 5px;
}

.nav img.search-icon {
	display: none;
}

.nav .search {
	position: absolute;
	top: 3px;
	right: 160px;
}

.nav .search input#tipue_drop_input {
	border-radius: 5px;
	width: 144px;
}

/*************** TABLET FAMILY PAGE ******************/

.interior-holder {
	width: 92%;
	margin: 0 auto;
	background-color: #899200;
	margin: 0px 25px 0px 25px;
	border-top-left-radius: 25px 25px;
	border-top-right-radius: 25px 25px;
}

.interior-holder .int-hold .interior-header {
	float: left;
	width: 70%;
	background-color: #DFDBC2;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.interior-holder .interior-header p {
	padding: 5px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

.int-hold {
	margin: 25px 0px 0px 20px;
}

.interior-nav {
	width: 25%;
	float: right;
	margin-top: 10px;
}

.interior-nav ul {
	overflow: hidden;
	padding: 5px;
}

.interior-nav ul li {
	float: left;
	font-family: sans-serif;
	width: 90%;
	margin-top: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	font-weight: bold;
}

.interior-nav ul li a {
	text-decoration: none;
	color: black;
}

.current {
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
}

.interior-nav ul li a:hover {
	color: white;
}

.interior-holder .interior-content-container {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	background-color: white;
	float: left;
	width: 70%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.interior-holder .interior-content-container.siblings {
	margin-bottom: 20px;
	border-bottom: none;
}

.interior-holder .interior-content-container .interior-content {
	overflow: hidden;
	border-top: 1px solid black;
}

.interior-holder .interior-content-container .interior-content .interior-image,
.interior-holder .interior-content .interior-name-date {
	float: left;
}

.interior-holder .interior-content-container .interior-content img.interior-image {
	width: 15%;
	border-right: 1px solid black;
}

.interior-holder .interior-content-container .interior-content .interior-name-date ul {
	padding: 10px;
	font-family: sans-serif;
	color: black;
}

.interior-holder .interior-content-container .interior-content .interior-name-date ul li.name {
	font-size: 14px;
	margin-bottom: 2px;
	color: black;
}

.interior-holder .interior-content-container .interior-content .interior-name-date ul li.date {
	font-size: 10px;
	color: black;
}

/***************** TABLET RECORDS PAGE ***************/

p a.btn {
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	font-family: sans-serif;
	background: -webkit-linear-gradient(top, #dfdbc2, #b2af98);
	width: 68%;
	margin-bottom: 10px;
}

/**************** TABLET PROFILE PAGE ******************/

.interior-holder {
	width: 700px;
	background-color: #899200;
	margin: 0 auto;
	border-radius: 25px;
	margin-top: 10px;
}

.interior-holder .profile-header {

}

.interior-holder .profile-content-container {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	background-color: gray;
}

.interior-holder .profile-content-container.siblings {
	margin-bottom: 0px;
	border-bottom: none;
}

.interior-holder .profile-content-container .profile-content {
	overflow: hidden;
	border-top: 1px solid black;
}

.interior-holder .profile-content-container .profile-content .profile-image,
.interior-holder .profile-content .profile-name-date {
	float: left;
}

.interior-holder .profile-content-container .profile-content img.profile-image {
	width: 30%;
	border-right: 1px solid black;
}

.interior-holder .profile-content-container .profile-content .profile-name-date ul {
	padding: 10px;
	font-family: sans-serif;
	color: white;
}

.interior-holder .profile-content-container .profile-content .profile-name-date ul li.name {
	font-size: 16px;
	margin-bottom: 2px;
}

.interior-holder .profile-content-container .profile-content .profile-name-date ul li.date {
	font-size: 16px;
}

/**************** TABLET MEDIA PAGE **********************/

.map {
	border: 2px solid #dfdbc2;
	width: 425px;
	height: 350px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.map h2 {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
	background-color: #f3f3ef;
}

small a img {
	width: 3%;
}

} /* @media close
